body {
  font-family: "Trebuchet MS", "Helvetica", "sans-serif";
  text-align: center;
  color: #404040;
  word-wrap: break-all;
}

li {
  margin: 10px 0;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  margin: 15px;
}

#img-div {
  background-color: #fefefe;
  padding: 10px 10px 5px;
  margin-bottom: 50px;
}

#main {
  background-color: #e4e4e4;
  padding: 10px 10px;
  width: 95%;
  margin: 20px auto;
  border-radius: 5px;
}

#title {
  margin-bottom: 20px;
}

#tribute-info {
  max-width: 600px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: left;
}

#tribute-title {
  position: relative;
  left: 30px;
  max-width: 90%;
}

#tribute-caption {
  font-style: italic;
  max-width: 90%;
  margin: 5px auto;
}

#tribute-footer {
  margin-top: 30px;
}

